.other-projects {
  max-width: 100%;
  width: 70%;
  height: 40%;
  max-height: 340px;
  position: relative;
  background-color: #333;
}

.other-projects i {
  height: 50px;
  width: 50px;
  background: #333;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.other-projects i:first-child {
  left: -22px;
}

.other-projects i:last-child {
  right: -22px;
}

.other-projects .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  height: 330px;
  list-style: none;
  background: #111;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  width: 80%;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0px 16px rgba(177, 174, 174, 0.23);
}

.card .img {
  background: green;
  width: 145px;
  height: 145px;
}

.card .img img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  /* border-radius: 50%; */
  /* border: 4px solid #fff; */
}

.card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .other-projects .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .other-projects .carousel {
    grid-auto-columns: 100%;
  }
}

.project-image {
  width: 100%;
  height: 80%;
  max-height: 100%;
  background-color: #333;
  background-image: url(../assets/projects-img/quiz-site.png);
  background-size: cover;
  background-repeat: no-repeat;
}
