#contact {
  margin: 0;
  text-align: center;
  background-color: var(--text-color-2);
  h3 {
    padding: 20px;
  }
}
.contact-left > p {

  font-size: 1.5rem;
  color: var(--text-color);
}
.contact-container {
  width: 100%;
  display: flex;
  position: relative;
  padding: 20px;
}

/* contact page left */

.contact-left {
  flex: 1;
  width: 100%;
  position: relative;
}

.profile-card {
  position: absolute;
  right: -100px;
  top: 10%;
  box-shadow: 0 0 10px var(--text-color);
  width: 250px;
  max-width: 300px;
  margin: auto;
  background-color: var(--primary-color);
  text-align: center;
  img {
    width: 50%;
    border-radius: 50%;
    margin: 20px;
  }
  h1 {
    color: var(--text-color);
  }
}

.profile-title {
  color: var(--text-color);
}

.fa-brands {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: var(--text-color-2);
}

.fa-brands:hover {
  opacity: 0.7;
}

.fa-square-instagram {
  color: var(--text-color-2);
}

/* Contact page right  */
.contact-right {
  flex: 2;
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  width: 100%;
}
form {
  width: 80%;
  margin-left: 120px;
  text-align: left;
}

form p {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--text-color-2);
}

label {
  padding: 12px 12px 12px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.input-section {
  padding: 10px 0;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  margin-top: 16px;
  resize: vertical;
}

@media only screen and (max-width: 768px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
  .contact-container {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .profile-card {
    position: relative;
    top: 20px;
    left: 0;
    .profile-title {
      color: #fff;
    }
  }
  form {
    width: 100%;
    margin-left: 0px;
  }
  .contact-left {
    flex: 2;
    height: 200px;
    background-color: #000;
    border: 1px solid var(--text-color);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .contact-left > p {
    padding: 20px;
    font-size: 1.5rem;
    color: var(--text-color-2);
  }

  .contact-right {
    border: 1px solid var(--text-color);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.submit-button {
  background-color: var(--text-color-dark);
  color: var(--text-color);
  padding: 12px 24px;
  margin: 10px auto;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.submit-button:hover {
  background-color: var(--text-color);
  color: var(--text-color-dark);
  border: 1px solid var(--text-color-2);
}
