#contact {
  background: linear-gradient(
    45deg,
    #111 10%,
    #595959 10%,
    #000000ef 11%,
    #42424217 50%,
    #2b2b2bae 90%,
    #e6dcdc4d 91%,
    #000000f8 91%
  );
  display: flex;
  flex-direction: column;
  /* border-top: .1px solid white; */
  align-items: center;
  position: relative;
  height: 100vh;
}

#contact::before {
  content: "";
  display: block;
  position: relative;
  width: 68%;
  max-width: 72%;
  border: 1px solid #89898973;
}

/* Style the title */
section#contact h3 {
  font-size: 2em;
  margin: 20px;
}

.contact-container {
  display: flex;
  width: 100%;
  max-width: 100%;
}
/* Style the contact information section (left side) */
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

/* Style the social media icons */
.social-media-container {
  margin-top: 20px;
}

.contact-left p {
  font-size: 2rem;
}

.social-media-container a i {
  font-size: 3em;
  margin: 0 10px;
  /* color: #fbad50 ; */
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.social-media-container a {
  color: #999;
  text-decoration: none;
}

/* Style social media icons on hover (default) */
.social-media-container i:hover {
  color: #007bff; /* Blue (default hover color) */
}

/* Style LinkedIn icon on hover */
.fa-brands.fa-linkedin:hover {
  color: #0077b5; /* LinkedIn blue */
}

/* Style Instagram icon on hover */
.fa-brands.fa-square-instagram:hover {
  color: #e1306c; /* Instagram pink */
}

/* Style GitHub icon on hover */
.fa-brands.fa-github:hover {
  color: #f460cd; /* GitHub purple */
}

/* Style the form section (right side) */
.contact-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}
/* Style the form */
form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 80%;
  margin-top: 20px;
  max-height: 100%;
}

/* Style the form caption */
form#contact-form p {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

/* Style the input sections */
.input-section {
  margin-bottom: 15px;
}

.input-section label {
  display: block;
  margin-bottom: 5px;
}

/* Style the input fields */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 3px;
  box-sizing: border-box; /* Include padding in width calculation */
  background: #555;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}

/* Style the submit button on hover */
input[type="submit"]:hover {
  background-color: #222;
}

@media screen and (max-width: 768px) {
  #contact::before {
    width: 50%;
    max-width: 60%;
  }
  .contact-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }
  form#contact-form p {
    font-size: 1em;
    margin-bottom: 8px;
  }
  .social-media-container a i {
    font-size: 2em;
  }
  .contact-left p {
    font-size: 1.5rem;
  }
  .contact-right {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-right: 0%;
    margin-bottom: 10px;
  }
}
