/* Footer Styles */
footer {

  background-color: var(--primary-color);
  color: var(--text-color-2); /* White Text */
  padding: 30px 0;
  display: flex; /* Make footer elements flexible */
  justify-content: space-between; /* Distribute elements horizontally */
  align-items: center; /* Align elements vertically */
}

.footer-container {
  display: flex; /* Make footer container flexible for better layout */
  align-items: center;
  flex-wrap: wrap; /* Allow elements to wrap on smaller screens */
  width: 80%; /* Limit container width to prevent overflow */
  margin: 0 auto; /* Center the container horizontally */
}

.weather,
.footer-center,
.social-media {
  flex: 1; /* Distribute available space equally among these divs */
  text-align: left; /* Center content within each section */
}
.weather p {
  opacity: 0.8;
}
.weather span {
  margin-right: 5px; /* Add spacing between weather elements */
  font-size: 0.8em;
  opacity: 0.6;
}
.refresh-button {
display: none;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer-center p {
  font-weight: bold; /* Bold font for copyright text */
  text-align: center;
}

.social-media {
  text-align: right;
}
/* Social Media Links */
.social-media a {
  color: inherit; /* Inherit footer text color (white) */
  margin: 0 10px; /* Add spacing between social media icons */
  font-size: 1.5rem; /* Increase icon size for a more prominent look */
  transition: transform 0.3s ease-in-out; /* Add smooth hover effect */
}

.social-media a:hover {
  transform: scale(1.1); /* Scale icons slightly on hover */
 opacity: 0.7;
}
