/* header.css */

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
/* Sticky header */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: #333; */
}

.logo-div img {
  display: block;
  padding: 8px 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none; /* Hide the menu toggle button by default */
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  margin-right: 20px;
}

.menu-items li:last-child {
  margin-right: 0;
}

.menu-items li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 5px;
}

.menu-items li a:hover {
  text-decoration: underline;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .menu-items {
    display: flex;
    flex-direction: column; /* Stack menu items vertically */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* background-color: #333; */
    padding: 10px;
    transition: all 0.3s ease-in-out;
    opacity: 0; /* Initially hide the menu */
    pointer-events: none;
  }

  .menu-toggle {
    display: block; /* Show the menu toggle button on smaller screens */
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .menu-items.active {
    /*  display: flex; Show the menu items when active class is applied */
    opacity: 1; /* Show the menu items with a smooth fade-in effect */
    pointer-events: auto;
  }
  .menu-items li {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .menu-items li a {
    display: block;
    width: 100%;
    margin: 5px auto;
    background-color: #22222277;
    padding: 10px 0;
  }
}

/* Additional media queries for larger screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-items {
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) {
  .menu-items {
    font-size: 16px;
  }
}
