#home {
  position: relative;
  background: url(../assets/images/home-background.png) no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-right {
  height: 60%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .hero-letter {
    font-size: 6vw;
    color: var(--text-color);
    opacity: 0.5;
    font-weight: 900;
    padding: 20px 0;
  }
}

.home-left {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-text-container {
  padding-bottom: 30px;
  margin-left: 20px;
}
.hero-text-container-hr {
  border: none;
  border-top: 3px double var(--text-color);
  color: var(--text-color);
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background: var(--primary-color);
  content: "</>";
  padding: 0 6px;
  position: relative;
  top: -13px;
}
.hero-text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color-2);
  padding: 10px;
}

.hero-slogan {
  font-size: 32px;
}
.hero-dev {
  font-size: 18px;
}

/* Home  left bottom */

.home-buttons-container {
  display: flex;
  a {
    color: var(--text-color);
    text-decoration: none;

  }
}

.button {
  background-color: var(--text-color-dark);
  padding: 10px 16px;
  margin: 5px;
  border: 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: var(--text-color);
  color: var(--text-color-dark);
  border: 1px solid var(--text-color-2);
}

.digit {
  position: absolute;
  top: -50px;
  font-size: 20px;
  color: #ff74038f;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}

/* mobile version */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #home {
    flex-direction: column-reverse;
  }
  .hero-right {
    height: 40vh;
    .hero-letter {
      font-size: 5vw;
    }
  }
  .home-left{
    justify-content: flex-start;
  }
  .hero-text {
    font-size: 5vw;
    font-weight: 500;
    color: var(--text-color-2);
    padding: 10px;
  }
  
  .hero-slogan {
    font-size: 6vw;
  }
  .hero-dev {
    font-size: 5vw;
  }

  .home-buttons-container {
    display: flex;
    flex-direction: column;
    .button{
      padding: 8px 12px;
    }
  }
}
