.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .parallax-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }
  
  #home {
    background-color: #007bff; /* Example color (blue) */
  }
  
  #projects {
    background-color: #28a745; /* Example color (green) */
  }
  